@model IEnumerable<FB.Models.Post>

@{
    ViewBag.Title = ViewBag.user.first_name;
}

<h2>@ViewBag.user.first_name @ViewBag.user.last_name</h2> <br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <td>
            @Html.DisplayNameFor(model => model.content)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.time)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.comments_count)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.likes_count)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.dislikes_count)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.is_private)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.User.first_name)
        </td>
        <td></td>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.likes_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dislikes_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_private)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
